.footer {
  background: #00006e;
  border-radius: 0px 200px 0px 0px;
  padding: 150px 0;
  color: #fff;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  margin-bottom: 76px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
}

.footer__title.__active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.footer__box {
  position: relative;
  max-width: 585px;
}

.footer__link {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  display: block;
  color: #ffffff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
}

.footer__link:nth-child(1).__active {
  -webkit-transition: all 0.3s linear 0.1s;
  -o-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.footer__link:nth-child(2).__active {
  -webkit-transition: all 0.3s linear 0.2s;
  -o-transition: all 0.3s linear 0.2s;
  transition: all 0.3s linear 0.2s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.footer__copyraigh {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
}

.footer__copyraigh.__active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.form {
  max-width: 460px;
  width: 100%;
}

.form__input-nmae {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
}

.form__input-nmae.__active {
  -webkit-transition: all 0.3s linear 0.4s;
  -o-transition: all 0.3s linear 0.4s;
  transition: all 0.3s linear 0.4s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.form__input-tel {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
}

.form__input-tel.__active {
  -webkit-transition: all 0.3s linear 0.5s;
  -o-transition: all 0.3s linear 0.5s;
  transition: all 0.3s linear 0.5s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.form__input-organization {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
}

.form__input-organization.__active {
  -webkit-transition: all 0.3s linear 0.6s;
  -o-transition: all 0.3s linear 0.6s;
  transition: all 0.3s linear 0.6s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.form__textarea-question {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
}

.form__textarea-question.__active {
  -webkit-transition: all 0.3s linear 0.7s;
  -o-transition: all 0.3s linear 0.7s;
  transition: all 0.3s linear 0.7s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.form__btn {
  margin: 30px 0 0 auto;
  background: #fbb03b;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(-120%, 0);
      -ms-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  opacity: 0;
}

.form__btn.__active {
  -webkit-transition: all 0.3s linear 0.8s;
  -o-transition: all 0.3s linear 0.8s;
  transition: all 0.3s linear 0.8s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.form__btn:hover,
.form__btn:focus {
  background: #327cc6;
}

.form__btn:active {
  color: #327cc6;
  background: #fff;
}

.input {
  display: block;
  padding: 16px 0;
  background: transparent;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 12px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.input:focus {
  border-color: #fbb03b;
}

.input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.input::-moz-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.input:-ms-input-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.input::-ms-input-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.input::placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.textarea {
  display: block;
  padding: 16px 0;
  background: transparent;
  width: 100%;
  height: 100px;
  resize: vertical;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 12px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.textarea:focus {
  border-color: #fbb03b;
}

.textarea::-webkit-input-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.textarea::-moz-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.textarea:-ms-input-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.textarea::-ms-input-placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.textarea::placeholder {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 768px) {
  .footer__box {
    padding-bottom: 40px;
  }
}

@media (max-width: 475px) {
  .footer__link {
    font-size: 27px;
    line-height: 50px;
  }
}