.services {
  padding: 154px 0 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b8dbff));
  background: -o-linear-gradient(top, #ffffff 0%, #b8dbff 100%);
  background: linear-gradient(180deg, #ffffff 0%, #b8dbff 100%);
  border-radius: 0px 200px;
  color: #000;
}

.services__title {
  margin-bottom: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(0, -120%);
      -ms-transform: translate(0, -120%);
          transform: translate(0, -120%);
  opacity: 0;
}

.services__title.__active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__subtitle {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(0, -120%);
      -ms-transform: translate(0, -120%);
          transform: translate(0, -120%);
  opacity: 0;
}

.services__subtitle.__active {
  -webkit-transition: all 0.3s linear 0.3s;
  -o-transition: all 0.3s linear 0.3s;
  transition: all 0.3s linear 0.3s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 110px -20px;
}

.services__item {
  margin: 0 20px 40px;
  max-width: 360px;
  padding: 60px 40px 37px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 25px rgba(202, 230, 255, 0.25), 0px 2px 8px rgba(0, 0, 110, 0.15);
          box-shadow: 0px 4px 25px rgba(202, 230, 255, 0.25), 0px 2px 8px rgba(0, 0, 110, 0.15);
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform: translate(0, -20%);
      -ms-transform: translate(0, -20%);
          transform: translate(0, -20%);
  opacity: 0;
}

.services__item:nth-child(1).__active {
  -webkit-transition: all 0.2s linear 0.2s;
  -o-transition: all 0.2s linear 0.2s;
  transition: all 0.2s linear 0.2s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__item:nth-child(2).__active {
  -webkit-transition: all 0.2s linear 0.4s;
  -o-transition: all 0.2s linear 0.4s;
  transition: all 0.2s linear 0.4s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__item:nth-child(3).__active {
  -webkit-transition: all 0.2s linear 0.6s;
  -o-transition: all 0.2s linear 0.6s;
  transition: all 0.2s linear 0.6s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__item:nth-child(4).__active {
  -webkit-transition: all 0.2s linear 0.8s;
  -o-transition: all 0.2s linear 0.8s;
  transition: all 0.2s linear 0.8s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__item:nth-child(5).__active {
  -webkit-transition: all 0.2s linear 1s;
  -o-transition: all 0.2s linear 1s;
  transition: all 0.2s linear 1s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__item:nth-child(6).__active {
  -webkit-transition: all 0.2s linear 1.2s;
  -o-transition: all 0.2s linear 1.2s;
  transition: all 0.2s linear 1.2s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__item:nth-child(7).__active {
  -webkit-transition: all 0.2s linear 1.4s;
  -o-transition: all 0.2s linear 1.4s;
  transition: all 0.2s linear 1.4s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__item:nth-child(8).__active {
  -webkit-transition: all 0.2s linear 1.6s;
  -o-transition: all 0.2s linear 1.6s;
  transition: all 0.2s linear 1.6s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__item:nth-child(9).__active {
  -webkit-transition: all 0.2s linear 1.8s;
  -o-transition: all 0.2s linear 1.8s;
  transition: all 0.2s linear 1.8s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.services__item-ico {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 40px;
  top: -30px;
}

.services__btn {
  margin: 0 auto;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
}

.services__btn img {
  margin-left: 10px;
}

.services__btn.__active {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.offline .services__item-ico {
  background: #327cc6;
}

.online .services__item-ico {
  background: #00006e;
}